// Big Button
.big-button {
  background: $purple;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: $l-size;
  margin-bottom: $m-size;
  padding: 2.4rem;
  width: 100%;
}

.big-button:disabled {
  opacity: .5;
}

@media (min-width: $desktop-breakpoint) {
  .big-button {
    margin-bottom: $xl-size;
  }
}

// Button
.button {
  background: $purple;
  border: none;
  border-radius: 4px;
  color: white;
  padding: $s-size;
}

.button--link {
  background: none;
  border: none;
  color: $off-white;
  padding: 0;
}

